<rx-virtual-scroll-viewport
  [itemSize]="74"
  (scrolledIndexChange)="scrolledIndexChange($event)"
  (viewRange)="viewRange($event)"
>
  <p>length: {{ this.listRows?.length }}</p>

  <app-list-row
    [class.biggerRow]="i === 4"
    [row]="row"
    *rxVirtualFor="let row of listRows; index as i"
  >
  </app-list-row>

  <p class="loader">Loading...</p>
</rx-virtual-scroll-viewport>
<!-- <cdk-virtual-scroll-viewport
  itemSize="74"
  (scrolledIndexChange)="fetchMore($event)"
>
  <app-list-row
    [class.biggerRow]="i === 4"
    [row]="row"
    *cdkVirtualFor="let row of listRows; index as i"
  >
  </app-list-row>
</cdk-virtual-scroll-viewport> -->
